.bk1{
    background-color: #1895f1;
}

.bk2{
    background-color:#04194a;
}

.bk3{
    background-color: rgba(245, 201, 4, 0.87);
}

h2{
    color: rgb(233, 8, 8);
    text-decoration: double;
}

h3{
    color: black;
    text-decoration: dashed;
    font-style: italic; 
    font-size: large; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

a{
    color: sandybrown; 
    font-style: italic; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.back button{
    float: right;
    margin-top: 5px;
    font-weight: bold;
    cursor: pointer;
}

